services:
  spam-scanner:
    build: .
    image: spam-scanner
    container_name: spam-scanner
    restart: on-failure
    env_file:
      - .env.production.local
    environment:
      - TZ=UTC
    volumes:
      # Important as spamd will run in the container as root
      # This will allow also to run run the scripts locally outside of container (for dev/test)
      - /root/.spamassassin:/root/.spamassassin
      - /var/lib/spamassassin:/var/lib/spamassassin
      - /etc/spamassassin:/etc/spamassassin
      - /usr/share/spamassassin:/usr/share/spamassassin
